# WorkBuddy internal
.workbuddy/

# PlatformIO
.pio_cache/
.pio_work/
**/.pio/
**/.pio_core/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Build output
build/
dist/
*.stl

# Logs
*.log
